In [ ]:
print('hello world')

In [ ]:
a= 10
b= 20
a+b

# 마크다운 sel 선택후 m
#### python 으로 돌아오기 sel 선택후 y
- 숫자변수
- 문자변수
    - str
    - char
> abcd
>> efg
>>> hijkl

In [ ]:
1+2, 3/3.14

실행모드 명령어 DD 셀 삭제, B 셀아래 셀 추가, a셀위에 셀 추가, c 복사 v붙이기 p자르기

In [ ]:
print('hello')

In [ ]:
# 변수에 숫자 대입하고 계산하기
# 여러줄 한줄씩 주석 ctrl + /

In [ ]:
a='안녕' #python의 변수타입은 object이다 기본타입이 없다 ref주소만 받는다 그래서 다받음
b=1

In [ ]:
for i in range(1,19,3):
    if i>10:
        print('hello')
    print(i)
    
print("end")

In [ ]:
str="abcdefg"

for i in str:
    print(i)

In [ ]:
ml ='''
hello worldeeeee
hello python
'''
ml

In [ ]:
print(ml)

In [6]:
a="안녕"
b="hello"

print("%s %s"%(a,b))
print("{} {}".format(a,b))
print(f"{a} {b}")

안녕 hello
안녕 hello
안녕 hello

In [13]:
print("OwO "*10)

OwO OwO OwO OwO OwO OwO OwO OwO OwO OwO

In [19]:
str="1234567890"
a=str[1]
b=str[5:-1]

print(a, type(a))
print(b, type(b))

2 <class 'str'>
6789 <class 'str'>

In [40]:
str="123,456,789,1011"
list=str.split(",")
type(list)

list

In [47]:
a=3.14159256
"%0.4f"%a

'    3.1416'

In [62]:
a=3.14159256
"{0:20.2f}".format(a)

'                3.14'

In [156]:
a="hobby"*10
a.count("b")

20

In [114]:
str1="show me the money"
str2="operation cwal"
"string1 : {} string2 : {}".format(str1,str2)
f"string1 : {str1}, string2 : {str2}"

'string1 : show me the money, string2 : operation cwal'

In [135]:
n1=20.5
n2=31

f"num1 :{n1:10.2f}, num2 : {n2:ㅗ<10}"

'num1 :     20.50, num2 : 31ㅗㅗㅗㅗㅗㅗㅗㅗ'

In [164]:
b=['a','b','c']
a=[1,2,3,b]
a.reverse()
a

[['a', 'b', 'c'], 3, 2, 1]

In [185]:
a=[1,2,3]
a[2]=4
print(a[1:3],type(a[1:3]))
print(a[1],type(a[1]))

[2, 4] <class 'list'>
2 <class 'int'>

In [187]:
a=[1,2,3]
b=['a','b','c']

#a[1]=b #리스트 인덱싱
a[1:2]=b #리스트 슬라이싱
a

[1, 'a', 'b', 'c', 3]

In [193]:
b.reverse()
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)

['c', 'b', 'a']
['a', 'b', 'c']
['c', 'b', 'a']

In [211]:
lotto=[ i for i in range(1,46)]
print(f"{lotto}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [215]:
# l누르면 라인 넘버 생김
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]
list1+list2
list1.extend(list2)

In [2]:
# 튜플 생성법
tuple1=(1,2,3)
tuple2=1,2,3

In [35]:
a={ 1:1
   ,2:2
   ,3:3
   }

a.get(1,'null')

SyntaxError: invalid syntax (3354134867.py, line 5)

In [46]:
list = [1,2,3,4,5,6,6,6,6]
s1= set(list)

str="hello"
l2=[i for i in str]
s2=set(l2)

for i in s2:
    print(i)

o
e
l
h

In [54]:
s1=set([1,2,3])
print(s1)
l1=list(s1)

{1, 2, 3}

In [70]:
flag=1
cnt=0
while cnt<10:
    if flag:
        print ("true")
        flag=0
    else:
        print("false")
        flag=1
    cnt +=1

true
false
true
false
true
false
true
false
true
false

In [71]:
flag=10
cnt=0
while flag:
    print(flag)
    flag-=1

10
9
8
7
6
5
4
3
2
1

In [74]:
import sys

a="hello"
sys.getrefcount("hello")
b="hello"
sys.getrefcount("hello")
del(b)
sys.getrefcount("hello")

8

In [2]:
from copy import copy
a=[1,2,3,4]
b=a[:]
c=copy(a)